In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('anova_data.csv')

In [4]:
df.head(10)

      A     B   C
0  10.0   8.0   9
1   9.0   9.0   8
2   8.0  10.0   7
3   7.5   8.0  10
4   8.5   8.5   9
5   9.0   7.0   8
6  10.0   9.5   7
7   8.0   9.0  10
8   8.0   7.0   9
9   9.0  10.0   8

In [5]:
A=df['A'].to_numpy()
B=df['B'].to_numpy()
C=df['C'].to_numpy()

In [6]:
population=[*A,*B,*C]
population=np.array(population)

In [8]:
mean_A=A.mean()
mean_A

8.7

In [9]:
mean_B=B.mean()
mean_B

8.6

In [10]:
mean_C=C.mean()
mean_C

8.5

In [14]:
mean_X=population.mean()
mean_X

8.6

In [15]:
mean_all=[mean_A,mean_B,mean_C]
mean_all

[8.7, 8.6, 8.5]

In [17]:
# between group
n=len(A)
variance_btw_grp=0
for x in mean_all:
    variance_btw_grp+=n*(x-mean_X)**2
var_btw_grp=round(variance_btw_grp,2)
print(var_btw_grp)

0.2

In [21]:
def variance(a,mean_X):
    var=0
    for x in a:
        var=(x-mean_X)**2
    return var
var_A=round(variance(A,mean_A),2)
var_B=round(variance(B,mean_B),2)
var_C=round(variance(C,mean_C),2)
print(var_A,var_B,var_C)

0.09 1.96 0.25

In [24]:
var_within_grp=var_A+var_B+var_C
Anova=var_btw_grp/var_within_grp
print("Anova value: ", Anova)

if Anova<1:
    print('Accept null hypothesis')
else:
    print('Reject null hypotheses')

Anova value:  0.08695652173913045
Accept null hypothesis