Code credits - **Mukesh Prasanna**

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('Height_Weight.csv')

In [6]:
df.head()

   Index    Height    Weight
0      1  65.78331  112.9925
1      2  71.51521  136.4873
2      3  69.39874  153.0269
3      4  68.21660  142.3354
4      5  67.78781  144.2971

In [21]:
X_train = df['Height'].to_numpy()
Y_train = df['Weight'].to_numpy()

In [22]:
X_mean = np.mean(X_train)
Y_mean = np.mean(Y_train)
prod = 0
mse = 0

In [23]:
for i in range(len(X_train)) :
    prod += ((X_train[i]-X_mean)*(Y_train[i]-Y_mean))
    mse += ((X_train[i]-X_mean)**2)

In [24]:
b1 = prod/mse
b0 = Y_mean-X_mean*b1

In [25]:
print('Slope :',b1,'\nIntercept :',b0)

Slope : 3.0834764454030186
Intercept : -82.57574306454445

In [26]:
def func(x) :
    return b1*x+b0

In [27]:
cost = 0
for i in range(len(X_train)) :
    cost+=((func(X_train[i])-Y_train[i])**2)
cost = (cost/(len(X_train)-2))**0.5
print('Standard Error :',cost)

Standard Error : 10.079516864371302

In [29]:
print('Predicted weight(in pounds) for 67 inches :',func(67))

Predicted weight(in pounds) for 67 inches : 124.0171787774578