Code credits - **Mukesh Prasanna**

In [1]:
import numpy as np
import pandas as pd
import random

In [6]:
data = pd.read_csv('dataset.csv')

data.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [4]:
marks = data['Marks'].to_numpy()

In [5]:
popmean = np.mean(marks)
popmean

24.417689999999997

In [7]:
def sample(population) :
    x = random.randint(0,79)
    return population[x:x+20]

In [8]:
samp1 = sample(marks)
samp2 = sample(marks)
samp3 = sample(marks)

In [9]:
s1mean = np.mean(samp1)
s2mean = np.mean(samp2)
s3mean = np.mean(samp3)

In [10]:
s1std = np.std(samp1)
s2std = np.std(samp2)
s3std = np.std(samp3)

In [11]:
t1score = (s1mean-popmean)*(len(samp1))**0.5/s1std
t1score

-0.14515824892373488

In [12]:
t2score = (s2mean-popmean)*(len(samp2))**0.5/s2std
t2score

-0.6905317657755397

In [13]:
t3score = (s3mean-popmean)*(len(samp3))**0.5/s3std
t3score

0.14699684431459858